.profile-container {
    z-index: -1;
    display: flex;
    padding-top: 46px;
    margin: 0px 75px 0px 75px;
    min-height: 100vh;
    background: white;
    border: 1px;
    border-style: ridge;
    overflow: auto;
    right: 0;
    left: 0;
}

.profile-container::-webkit-scrollbar {
  display: none;
}

.profile-left {
  margin-left: 25px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  width: 70%;
}

.index-item-title {
  font-size: 20px;
  font-weight: 400;
}

.index-item-genre {
  font-size: 14px;
}

.index-item-title, .index-item-genre {
  color: black;
}

.index-item-artist a {
  text-decoration: none;
  color: salmon;
}

.index-item-artist a:hover {
  color: #4CAF50;
}

.song-edit-button {
  display: inline-block;
}

.song-dropdown {
  position: absolute;
  display: none;
}

.song-edit-button:hover .song-dropdown {
  display: block;
}
