.profile-container {
    display: flex;
    padding-top: 46px;
    margin: 0px 75px 0px 75px;
    height: 100vh;
    background: white;
    border: 1px;
    border-style: ridge;
    overflow: auto;
}

.profile-container::-webkit-scrollbar {
  display: none;
}
