.profile-container {
    z-index: -1;
    display: flex;
    padding-top: 46px;
    margin: 0px 75px 0px 75px;
    min-height: 100vh;
    background: white;
    border: 1px;
    border-style: ridge;
    overflow: auto;
    right: 0;
    left: 0;
}

.profile-container::-webkit-scrollbar {
  display: none;
}

.profile-left {
  margin-left: 25px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  width: 65%;
  border-right: 1px solid gold;
}

.index-item-info {
  display: flex;
  flex-direction: column;
  border-bottom: 1px;
  border-style: ridge;
  height: auto;
  padding: 20px 0 20px 15px;
  font-family: Overpass;
}

.index-item-info img {
  position: absolute;
  height: 115px;
  width: 115px;
  object-fit: cover;
  border: 1px cornflowerblue;
  border-style: double;
  border-radius: 25px;
}

.index-item-title {
  padding-top: 5px;
  font-size: 20px;
  font-weight: 400;

}

.index-item-genre {
  font-size: 14px;

}

.index-item-title, .index-item-genre {
  color: black;
}

.index-item-artist a {
  text-decoration: none;
  color: salmon;
   
}

.index-item-artist a:hover {
  color: #4CAF50;
}

.song-edit-button {
  z-index: 1;
  display: inline-block;
  position: relative;
  left: 97%;
  margin-bottom: -24px;
  width: fit-content;
  color: salmon;
  cursor: pointer;
}

.song-dropdown {
  position: absolute;
  display: none;
}

.song-dropdown button {
  display: block;
  color: #4CAF50;
  font-family: Overpass;
  border: 1px solid orange;
  border-radius: 10px;
  background: transparent;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
}

.song-dropdown button:hover {
  background: gold;
  color: white;
}

.song-edit-button:hover .song-dropdown {
  display: block;
  right: 0;
  transform: translateX(22.5%)
}

.audio-player {
  width: 68%;
  margin-left: 163px;
  padding-top: 45px;
}

.audio-player:focus {
  outline: none;
}

.audio-player controls:focus {
  outline: none;
}