.custom-audio-player {
    width: 125px;
}

.play-button {
    position: relative;
    width: 65px;
    height: 65px;
    bottom: -20px;
    right: -25px;
    margin-bottom: 40px;
    border-radius: 20px;
    background: transparent;
    background-image: url(https://sunnysounds-seed.s3-us-west-1.amazonaws.com/play_button.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    background-size: contain;
    outline: none;
    border: none;
}

.play-button:hover {
    cursor: pointer;
}


.latest-upload .play-button {
    display: block;
    position: relative;
    width: 125%;
    height: 200px;
    background: transparent;
    background-image: url("https://sunnysounds-seed.s3-us-west-1.amazonaws.com/play_button.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    background-size: contain;
    top: -237px;
    right: 27px;
}

.latest-upload .custom-audio-player {
    display: none;
}

.latest-upload .index-item-genre {
    display: none;
}


// .latest-upload .play-button .play-button-image {
//     width: 90%;
//     top: -0.5px;
//     right: 3%;
// }

// .play-button .play-button-image {
//     position: relative;
//     top: 4px;
//     opacity: 0.2;
//     border: none;
//     width: 100%;
//     height: 100%;
//     object-fit: contain;
// }

.audio-player {
    display: none;
}

//pause
//https://sunnysounds-seed.s3-us-west-1.amazonaws.com/pause_button.png