// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.comment-form-input[type=text] {
    float: right;
    margin-right: 15px;
    position: relative;
    bottom: -140px;
    width: 80%;
}
