

input.comment-form-input[type=text] {
    float: right;
    margin-right: 15px;
    position: relative;
    bottom: -140px;
    width: 80%;
}

.single-comment {
    display: flex;
}

.recent-comments {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    height: 92%;
    border-radius: 15px;
    overflow: hidden;
}
.recent-comments p {
    display: flex;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}

.comments-container {
    height: 300px;
}


.comment-delete-button {
    position: relative;
    top: -30px;
    left: 96%;
    outline: none;
    border: none;
    z-index: 999;
    background: coral;
    padding-bottom: 2px;
    border-radius: 8px;
    color: white;
    transition: 0.3s;
}

.comment-delete-button:hover {
    cursor: pointer;
    background: cadetblue;
}