

input.comment-form-input[type=text] {
    float: right;
    margin-right: 15px;
    position: relative;
    bottom: -140px;
    width: 80%;
}

.single-comment {
    display: flex;
}

.recent-comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    height: 92%;
    border-radius: 15px;
    overflow: hidden;
}
.recent-comments p {
    display: flex;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}

.comments-container {
    height: 300px;
}
