.discovery-container {
    display: flex;
    padding-top: 46px;
    margin: 0px 75px 0px 75px;
    min-height: 93vh;
    background: white;
    border: 1px;
    border-style: ridge;
    overflow: auto;
    right: 0;
    left: 0;
}

.discovery-container::-webkit-scrollbar {
  display: none;
}


.discovery-left {
    margin-left: 25px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    width: 65%;
    border-right: 1px solid gold;
}



// .discovery-left h1 {
//     display: none;
//     color: cadetblue;
//     margin-top: -1px;
//     font-family: Overpass;
//     padding-top: 15px;
//     padding-bottom: 15px;
//     background: rgba(255, 255, 255, 0.748);
//     width: 55%;
//     z-index: 999;
//     position: fixed;
//     text-align: center;
//     font-size: 16px;

// }

// .discovery-left:hover h1 {
//     display: block;
// }


.discovery-sidebar {
    overflow-y: auto;
    width: 35%;
    min-height: 100vh;
    border-style: ridge;
    padding: 15px 15px 15px 15px;
    margin: 46px 15px 0px 15px;
    font-family: Overpass;
    min-height: 0 !important;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 15px;
}

.discovery-sidebar div, .discovery-sidebar h3 {
    position: relative;
    margin-right: 10%;
    margin-left: 10%;
}

.discovery-sidebar::-webkit-scrollbar {
    display: none;
}

.discovery-sidebar h3 {
    width: auto;
    color: orange;
    padding-bottom: 5px;
    border-bottom: 1px;
    border-style: ridge;
    text-align: center;
}

.discovery-sidebar > .link-container {
    position: fixed;
    width: 27.3%;
    transform: translateX(-21.5%);
    margin-top: -15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(245, 245, 245, 0.86);
    z-index: 5;
}

.affiliate-links {
    display: inline-flex;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 100%;
}

.affiliate-links li a {
    text-decoration: none;
    color: #4CAF50;
}

.affiliate-links li:hover a {
    color: salmon;
}

.latest-upload .index-item-info {
    width: auto;
    margin-top: 15px;
    border-bottom: none;
    border-right: none;
    text-align: center;
    padding-top: 250px;
    padding-left: 0;
}


.latest-upload {
    height: 400px;
    margin-top: 85px;
}

.latest-upload img {
    position: absolute;
    top: 0;
    height: 225px;
    width: 100%;
    object-fit: cover;
    border: 1px cadetblue;
    border-style: double;
    border-radius: 25px;
    transform: none;
    z-index: 25;
}

.latest-upload img:hover {
    cursor: pointer;
}

.latest-upload h3 {
    margin-top: 0;
}

.latest-upload audio {
    height: 25px;
    width: auto;
    margin-left: 0;
    padding-top: 0;
}

.latest-upload .song-edit-button {   
    display: none;
}


.fa-cogs {
    color: gray;
    size: 25px;
    margin-top: 5px;
}

.fa-github-square, .fa-linkedin, .fa-angellist {
    color: black;
    font-size: 35px;
    z-index: 10px;
}

.discovery-playlist {
    display: flex;
    overflow-x: auto;
    border-bottom: 1px solid whitesmoke;
    overflow-y: hidden;
}

.discovery-playlist .comment-form-input {
    display: none;
}

.discovery-playlist .index-item-info {
    border-bottom: none;
}

.discovery-playlist .song-edit-button {
    display: none;
}

.discovery-header {
    font-family: 'Overpass';
    font-size: 25px;
    margin-top: 10px;
    margin-left: 20px;
    border-bottom: 1px solid whitesmoke;
}