.header-link {
    position: absolute;
    top: 13px;
    left: 19px;
    display: flex;
    justify-content: flex-start;
    width: 184px;
    height: 46px;
    margin: 0;
    
}

.login-signup {
    display: flex;
    justify-content: flex-end;
    top: 13px;
    left: 19px;
    margin: 0;
}