.discovery-container {
    display: flex;
    padding-top: 46px;
    margin: 0px 75px 0px 75px;
    height: 100vh;
    background: white;
    border: 1px;
    border-style: ridge;
    overflow: auto;
}

.discovery-container::-webkit-scrollbar {
  display: none;
}


.discovery-left {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
}

.index-item-info {
    display: flex;
    flex-direction: column;
    border-bottom: 1px;
    border-style: ridge;
    height: auto;
    padding: 20px 0 20px 15px;
    font-family: Overpass;
}


.discovery-sidebar {
    display: flex;
    width: 35%;
    border-left: 1px;
    border-style: ridge;
    padding: 15px 15px 15px 15px;
    margin: 0px 15px 0px 15px;

}