.discovery-container {
    // position: fixed;
    z-index: -1;
    display: flex;
    padding-top: 46px;
    margin: 0px 75px 0px 75px;
    min-height: 100vh;
    background: white;
    border: 1px;
    border-style: ridge;
    overflow: auto;
    right: 0;
    left: 0;
}

.discovery-container::-webkit-scrollbar {
  display: none;
}


.discovery-left {
    margin-left: 25px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    width: 70%;
}

.index-item-info {
    display: flex;
    flex-direction: column;
    border-bottom: 1px;
    border-style: ridge;
    height: auto;
    padding: 20px 0 20px 15px;
    font-family: Overpass;
}


.discovery-sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 100vh;
    border-left: 1px;
    border-style: ridge;
    padding: 15px 15px 15px 15px;
    margin: 0px 15px 0px 15px;
    font-family: Overpass;
}

.discovery-sidebar h3:first-child {
    margin-top: 0;
    position: fixed;
    margin-bottom: 300px;
}

.discovery-sidebar h3 {
    margin-left: 1%;
    width: 24%;
    position: fixed;
    color: orange;
    margin-top: 300px;
    padding-bottom: 5px;
    border-bottom: 1px;
    border-style: ridge;
    text-align: center;
}

.affiliate-links {
    position: fixed;
    margin-top: 330px;
    display: flex;
    width: 24%;
}

.affiliate-links li a {
    text-decoration: none;
    color: salmon;
}

.latest-upload:first-child {
    margin-left: -2.5%;
}

.latest-upload .index-item-info {
    width: 24%;
    position: fixed;
    margin-top: 15px;
    border-bottom: none;
    text-align: center;
    padding-top: 175px;
}

.latest-upload audio {
    height: 25px;
}

.latest-upload .song-edit-button {   
    display: none;
}

.index-item-title {
    margin-top: 15px;
}

