input.session-submit[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=text], select {
  width: 100%;
  padding: 12px 10px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font: 12px/1.4 Lucida Grande
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font: 12px/1.4 Lucida Grande
}

.demo-button {
  width: 100%;
  background-color: gold;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form {
    width: 450px;
    left: 117px;
    margin-top: 15px;
    height: auto;
}

.login-errors {
    color: red;
    font-family: Lucida Grande, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

input.errors[type="text"], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid red;
  border-radius: 4px;
  box-sizing: border-box;
}

input.errors[type="password"], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid red;
  border-radius: 4px;
  box-sizing: border-box;
}

.auth-separator {
  margin: 1em;
  position: relative;
  text-align: center;
  font-family: Lucida Grande;
  font-size: 16px;
  font-weight: 400;
  color: salmon;
}

.auth-separator::before {
  left: 0;
}
.auth-separator::after {
  right: 0;
}

.auth-separator::after, .auth-separator::before {
  display: inline-block;
  width:43%;
  border-top: 1px solid salmon;
  content: "";
  position: absolute;
  top: .7em;
}

.privacy-policy {
  font-family: Lucida Grande;
  font-size: 12px;
  color: #999999;
}

.show-buttons {
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  background: white;
  border-left:  1px solid #e5e5e5;
  border-right:  1px solid #e5e5e5;
  border-top:  1px solid #e5e5e5;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.show-buttons * {
  z-index: 20;
}

.login-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}