.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(157, 156, 156, 0.7);
  z-index: 5000;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// .login-form {
//    display: flex;
//    justify-content: center;
//    flex-direction: column;
// }

.login-input {
    margin-left: 20px;
}

.login-form-box {
    margin-top: -50px;
    border-radius: 25px;
    border-bottom: 1px solid #e5e5e5;
    border-left:  1px solid #e5e5e5;
    border-right:  1px solid #e5e5e5;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 20px;
    background: white;
    position: relative;
    max-width: 100%;
}

.create-form-box {
  display: flex;
  align-items: flex-end;
  height: 345px;
  margin-top: -50px;
  border-radius: 25px;
  border-bottom: 1px solid #e5e5e5;
  border-left:  1px solid #e5e5e5;
  border-right:  1px solid #e5e5e5;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 20px;
  background: white;
  position: relative;
  max-width: 100%;
}


.login-form-container {
  max-width: 500px;
}

.session-submit {
    text-transform: capitalize;
}

.session-submit:focus {
  outline: none;
}

.close-x {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.close-modal-button {
  cursor: pointer;
  background: url(https://sunnysounds-seed.s3-us-west-1.amazonaws.com/false-2061132_640.png) 50% no-repeat;
  position: absolute;
  top: 14px;
  right: 20px;
  width: 20px;
  height: 20px;
  text-indent: 20px;
  border: 0;
  overflow: hidden;
  color: #333333;
}

.audio-preview {
  width: 44%;
  z-index: 15;
  position: fixed;
  top: 30px;
  left: 15px;
  transform: translateY(-25px);
}

.photo-preview.create{
  z-index: 15;
  position: fixed;
  top: -20px;
  left: 340px;
  margin-right: 20px;
  transform: translateX(-40px);
  border: 1px cadetblue;
  border-style: double;
  border-radius: 25px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.photo-preview.edit{
  z-index: 15;
  position: fixed;
  top: -40px;
  left: 60%;
  margin-right: 20px;
  transform: translateX(-40px);
  border: 1px cadetblue;
  border-style: double;
  border-radius: 25px;
  height: 175px;
  width: 175px;
  object-fit: cover;
}

input[type="file"] {
    display: none;
}

.custom-song-upload {
  position: relative;
  z-index: 5;
  border: 1px solid #ccc;
  display: inline-flex;
  margin-bottom: 10px;
  margin-right: 5px;
  width: 15%;
  color: salmon;
  font-family: Overpass;
  border: 1px solid cadetblue;
  border-radius: 10px;
  background: transparent;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
}

.custom-song-upload:hover{
  background: gold;
  color: white;
}

.form-errors {
  position: fixed;
  z-index: 5;
}
