.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(157, 156, 156, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.login-input {
    margin-left: 20px;
}

.login-form-box {
    margin-top: -50px;
    border-radius: 25px;
    border-bottom: 1px solid #e5e5e5;
    border-left:  1px solid #e5e5e5;
    border-right:  1px solid #e5e5e5;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 20px;
    background: white;
    position: relative;
}

.session-submit {
    text-transform: capitalize;
}

.session-submit:focus {
  outline: none;
}

.close-x {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.close-modal-button {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+Q2xvc2U8L3RpdGxlPjxwYXRoIGQ9Ik0xMCA4LjU0NUwzLjQ1NSAyIDIgMy40NTUgOC41NDUgMTAgMiAxNi41NDUgMy40NTUgMTggMTAgMTEuNDU1IDE2LjU0NSAxOCAxOCAxNi41NDUgMTEuNDU1IDEwIDE4IDMuNDU1IDE2LjU0NSAyIDEwIDguNTQ1eiIgZmlsbD0iIzMzMyIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+Cg==) 50% no-repeat;
  position: absolute;
  top: 14px;
  right: 20px;
  width: 20px;
  height: 20px;
  text-indent: 20px;
  border: 0;
  overflow: hidden;
  color: #333333;
}