
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #4CAF50;
    font: 100 14px/1.5 Lucida Grande;
    height:46px;
    
}

.header-link {
    position: absolute;
    top: 13px;
    left: 19px;
    display: flex;
    justify-content: flex-start;
    width: 184px;
    height: 46px;
    margin: 0;
    
}

.login-signup button {
    background: transparent;
    padding: 2px 11px 2px 11px;
    border-radius: 3px;
    cursor: pointer;
    font-family: Lucida Grande;
    font-weight: 100;
    line-height: 20px;
    border: 1px solid #e5e5e5;
    margin-right: 10px;
    color: white;
}

.login-signup {
    display: flex;
    justify-content: flex-end;
    margin-left: 15px;
    margin-right: 100px;
    border-right: 1px solid forestgreen;
    line-height: 46px;
}

.right-nav {
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
    margin-left: 15px;
    margin-right: 100px;
    border-right: 1px solid forestgreen;
    line-height: 46px;
}


.right-nav button {
    background: transparent;
    cursor: pointer;
    font-family: Lucida Grande;
    font-weight: 100;
    border: none;
    margin-right: 3px;
    color: white;
}

.right-nav button:hover {
    color: yellowgreen;
}

.login-signup li:last-child button {
    background: salmon;
    width: 100px;
}


.left-nav a {
  display: block;
  color: white;
  width: 104px;
  height: 46px;
  text-align: center;
  padding: 12px 0px;
  text-decoration: none;
  border-right: 1px solid forestgreen;
  box-sizing: border-box;
}


.left-nav {
    margin-left: 100px;
    display: flex;
    border-left: 1px solid forestgreen;
}

li a:hover {
    color: yellowgreen;
}


input.search-bar[type="text"], select {
    align-items: center;
    height: auto;
    width: 300px;
    color: #666;
    outline: 0;
    border: 0;
    margin-left: 15px;
    padding: 5px 7px;
    padding-right: 2px;
    background-attachment: #e5e5e5;
    box-sizing: border-box;
}


.search-button {
    position: relative;
    border: none;
    top: 3px;
    margin-left: -18px;
    background: transparent;
    cursor: pointer;
}


.search-bar-container { 
    height: 46px;
    display: inline-flex;
    align-items: center;
}