.nav-bar {
    position: fixed;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background: #4CAF50;
    font: 100 14px/1.5 Overpass;
    height:46px;
}

.header-link {
    position: absolute;
    top: 13px;
    left: 19px;
    display: flex;
    justify-content: flex-start;
    width: 184px;
    height: 46px;
    margin: 0;
}

.right-nav {
    width: auto;
    display: flex;
    flex-shrink: 0;
    margin-right: 75px;
    margin-left: 10px;
    border-right: 1px solid forestgreen;
    line-height: 46px;
}

.right-nav a {
    height: 46px;
    align-items: center;
    background: transparent;
    cursor: pointer;
    font-family: Overpass;
    font-weight: 100;
    border: none;
    color: white;
    text-decoration: none;
}

.right-nav p {
    height: 46px;
    align-items: center;
    background: transparent;
    cursor: pointer;
    font-family: Overpass;
    font-weight: 100;
    border: none;
    color: white;
    text-decoration: none;
}

.right-nav li p:hover {
    color: yellowgreen;
}


.right-nav li:last-child {
    background: transparent;
    cursor: pointer;
    font-family: Overpass;
    font-weight: 100;
    border: none;
    margin-right: 10px;
    color: #fff4b6;
}

.right-nav li:last-child {
    padding-left: 6px;
}

.right-nav li:last-child:active {
    background: forestgreen;
}

.right-nav li a {
    padding-left: 4px;
    height: 46px;
}

.right-nav li:active {
    background: forestgreen;
    color:#e8d880;
}
.right-nav li a:active {
    color: #fff4b6;
}

.right-nav li a:hover {
    color: #fff4b6;
}

.right-nav li p {
    padding-left: 6px;
}

.left-nav a {
  display: block;
  color: white;
  width: 104px;
  height: 46px;
  text-align: center;
  padding: 12px 0px;
  text-decoration: none;
  border-right: 1px solid forestgreen;
  box-sizing: border-box;
}


.left-nav {
    margin-left: 75px;
    display: flex;
    border-left: 1px solid forestgreen;
}

li a:hover {
    color: yellowgreen;
}

li a:active {
  background-color: forestgreen;
  color: yellowgreen;
}


input.search-bar[type="text"], select {
    overflow: scroll;
    align-items: center;
    height: 30px;
    width: 300px;
    color: #666;
    outline: 0;
    border: 0;
    margin-left: 5px;
    padding: 5px 7px;
    padding-right: 25px;
    background-attachment: #e5e5e5;
    box-sizing: border-box;
}


.search-button {
    position: relative;
    border: none;
    top: 3px;
    margin-left: -20px;
    background: transparent;
    cursor: pointer;
}


.search-bar-container { 
    height: 46px;
    display: inline-flex;
    align-items: center;
}

.right-nav li:nth-child(2) {
    max-width: 100px;
}

.right-nav li:nth-child(2)::-webkit-scrollbar {
  display: none;
}


.right-nav li {
    text-align: center;
    padding-right: 5px;
    position: relative;
    display: inline-block;
}

.user-dropdown {
    display: none;
    z-index: 15;
    position: absolute;
    width: 100px;
    white-space: nowrap;
    padding-right: 6px;
    text-align: center;
    font-size: 12px;
    color: forestgreen;
    background: lemonchiffon;
}

.user-dropdown p {
    color: salmon;
    width: 100%;
}

.user-dropdown p:hover {
    background: rgb(242, 237, 194);
}

.notifications-dropdown {
    display: none;
    z-index: 15;
    position: absolute;
    width: 400px;
    white-space: nowrap;
    overflow-x: scroll;
    text-overflow: ellipsis;
    padding-right: 4px;
    text-align: center;
    font-size: 12px;
    color: forestgreen;
    background: lemonchiffon;
}

.notifications-dropdown p {
    color: salmon;
    width: 100%;
}

.notifications-dropdown p:hover {
    background: rgb(242, 237, 194);
}

.notifications-dropdown::-webkit-scrollbar {
  display: none;
}



.messages-dropdown {
    display: none;
    z-index: 15;
    position: absolute;
    width: 400px;
    white-space: nowrap;
    overflow-x: scroll;
    text-overflow: ellipsis;
    padding-right: 4px;
    text-align: center;
    font-size: 12px;
    color: forestgreen;
    background: lemonchiffon;
}

.messages-dropdown p {
    color: salmon;
    width: 100%;
}

.messages-dropdown p:hover {
    background: rgb(242, 237, 194);
}

.messages-dropdown::-webkit-scrollbar {
  display: none;  
}

.settings-dropdown {
    display: none;
    z-index: 15;
    position: absolute;
    width: 75px;
    white-space: nowrap;
    padding-right: 6px;
    font-size: 12px;
    color: forestgreen;
    background: lemonchiffon;

}

.settings-dropdown p {
    color: salmon;
    width: 100%;
}


.settings-dropdown p:hover {
    background: rgb(242, 237, 194);
}

.right-nav li:hover .user-dropdown {
    display: block;
}

.right-nav li:hover .notifications-dropdown {
    display: block;
    transform: translateX(-49.9%);
}

.right-nav li:hover .messages-dropdown {
    display: block;
    transform: translateX(-72.5%);
}

.right-nav li:hover .settings-dropdown {
    display: block;
    transform: translateX(-60%);
}



