.nav-bar {
    position: fixed;
    background: gold;
    width: 100vw;
    z-index: 1000;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 75px;
    margin-left: 75px;
    border-right: 1px solid rgb(230, 195, 0);
    border-left: 1px solid rgb(230, 195, 0);
    background: gold;
    font: 100 14px/1.5 Overpass;
    height:46px;
}

.header-link {
    position: absolute;
    top: 13px;
    left: 19px;
    display: flex;
    justify-content: flex-start;
    width: 184px;
    height: 46px;
    margin: 0;
}

.right-nav {
    display: inline-flex;
    justify-content: flex-end;
    margin-left: 10px;
    line-height: 46px;
}

.right-nav a {
    height: 46px;
    align-items: center;
    background: transparent;
    cursor: pointer;
    font-family: Overpass;
    font-weight: 100;
    border: none;
    color: orange;
    text-decoration: none;
}

.right-nav p {
    height: 46px;
    align-items: center;
    background: transparent;
    cursor: pointer;
    font-family: Overpass;
    font-weight: 100;
    border: none;
    color: white;
    text-decoration: none;
}

.right-nav li p:hover {
    color: orange;
}


.right-nav li:last-child {
    background: transparent;
    cursor: pointer;
    font-family: Overpass;
    font-weight: 100;
    margin-right: 10px;
    color: orange;
}

.right-nav li:last-child {
    padding-left: 6px;
}

.right-nav li:last-child:active {
    background: transparent;
    color: orange;
}

.right-nav li button {
    padding-left: 4px;
    height: 46px;
    background: transparent;
    color: orange;
    border: none;
    font-size: 14px;
}

.right-nav li button:focus {
    color: white;
}

.right-nav li button:hover {
    color: white;
}

.right-nav li:active {
    background: lemonchiffon;
    color:#e8d880;
}

.right-nav li a {
    padding-left: 4px;
    height: 46px;
}

.right-nav li a:active {
    color: orange;
}

.right-nav li a:hover {
    color: orange;
}



.right-nav li p {
    padding-left: 6px;   
}

.right-nav li p:last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.left-nav a {
  display: block;
  color: white;
  width: 104px;
  height: 46px;
  text-align: center;
  padding: 12px 0px;
  text-decoration: none;
  border-right: 1px solid rgb(230, 195, 0);
  box-sizing: border-box;
}


.left-nav {
    display: flex;
}

li a:hover {
    color: orange;
}

li a:active {
  background-color: lemonchiffon;
  color: orange;
}


input.search-bar[type="text"], select {
    overflow: scroll;
    align-items: center;
    height: 30px;
    color: #666;
    outline: 0;
    border: 0;
    margin-left: 5px;
    padding: 5px 7px;
    padding-right: 25px;
    background-attachment: #e5e5e5;
    box-sizing: border-box;
}


.search-button {
    position: relative;
    border: none;
    margin-left: -20px;
    background: transparent;
    cursor: pointer;
}


.search-bar-container { 
    z-index: 1000;
    top: 0;
    left: 500px;
    width: 325px;
    height: 46px;
    position: fixed;
    display: inline-flex;
    align-items: center;
}

.search-bar-container li {
    width: 85%;
}

.right-nav li:nth-child(2) {
    max-width: 100px;
}


.this-user {
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}

.this-user::-webkit-scrollbar {
  display: none;
}


.right-nav li {
    text-align: center;
    padding-right: 5px;
    position: relative;
    display: inline-block;
}

.user-dropdown {
    display: none;
    position: absolute;
    width: 99px;
    white-space: nowrap;
    padding-right: 6px;
    text-align: center;
    font-size: 12px;
    color: rgb(230, 195, 0);
    background: lemonchiffon;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.user-dropdown a {
    color: salmon;
    display: block;
    margin-left: -6px;
}

.user-dropdown p:last-child a{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.user-dropdown a:hover {
    background: rgb(242, 237, 194);
}

.user-dropdown p {
    color: salmon;
    width: 100%;
}

.user-dropdown p:hover {
    background: rgb(242, 237, 194);
}


.notifications-dropdown {
    display: none;
    position: absolute;
    width: 400px;
    overflow-wrap: normal;
    text-overflow: ellipsis;
    padding-right: 6px;
    text-align: center;
    font-size: 12px;
    background: lemonchiffon;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.notifications-dropdown p {
    color: salmon;
    width: 100%;
    height: auto;
    max-height: 300px;
}

.notifications-dropdown p:hover {
    background: rgb(242, 237, 194);
}

.notifications-dropdown::-webkit-scrollbar {
  display: none;
}

.messages-dropdown {
    display: none;
    position: absolute;
    width: 400px;
    overflow-wrap: normal;
    text-overflow: ellipsis;
    padding-right: 6px;
    text-align: center;
    font-size: 12px;
    background: lemonchiffon;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.messages-dropdown p {
    color: salmon;
    width: 100%;
    height: auto;
    max-height: 300px;
}

.messages-dropdown p:hover {
    background: rgb(242, 237, 194);
}

.messages-dropdown::-webkit-scrollbar {
  display: none;  
}

.settings-dropdown {
    display: none;
    position: absolute;
    width: 75px;
    white-space: nowrap;
    padding-right: 6px;
    font-size: 12px;
    background: lemonchiffon;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.settings-dropdown p {
    color: salmon;
    width: 100%;
}

.settings-dropdown p:hover {
    background: rgb(242, 237, 194);
}

.right-nav li:hover .user-dropdown {
    display: block;
    transform-origin: center;
}

.right-nav li:hover .notifications-dropdown {
    display: block;
    transform: translateX(-50%);
}

.right-nav li:hover .messages-dropdown {
    display: block;
    transform: translateX(-72.4%);
}

.right-nav li:hover .settings-dropdown {
    display: block;
    transform: translateX(-59.3%);
}



