.playbar-controls {
    display: block;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 35px;
    background: whitesmoke;
    left: 0px;
    border-top: 1px solid lightgrey;
    display: flex;
    z-index: 5;
}

.playbar-prev-song-button, .playbar-play-button, .playbar-pause-button, .playbar-next-song-button, .playbar-volume-button {
    outline: none;
    border: none;
    background: none;
    transition: 0.3s;
}

.playbar-prev-song-button:hover, .playbar-play-button:hover, .playbar-pause-button:hover, .playbar-next-song-button:hover, .playbar-volume-button:hover {
    cursor: pointer;
    color: gold;
}

.playbar-scrubber {
    display: flex;
    width: 65%;
    justify-content: space-around;
    align-items: center;
}

.playbar-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 35%;
}

.playbar-info a {
    text-decoration: none;
    color: salmon;
    font-family: Overpass;
    transition: 0.3s;
}

.playbar-info a:hover {
    cursor: pointer;
    color: gold;
}

.playbar-info a:first-child {
    color: cadetblue;
    transition: 0.3s;
}

.playbar-info a:first-child:hover {
    color: gold;
    cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 1px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  background: darkgray;
}