// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.item-info-right {
    width: 100%;
}

.song-show-left {
    margin-left: 25px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    width: 65%;
    border-right: 1px solid gold;
}

.song-info {
    width: fit-content;
    padding: 10px;
    background: rgba(255, 255, 255, 0.75);
}

.show-banner {
    height: 300px;
    width: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.song-show-left .item-info-left {
    position: absolute;
    z-index: 999;
    top: 65px;
}

.song-show-left input.comment-form-input[type=text] {
    float: none;
    width: 100%;
    bottom: 0;
    margin-left: -9px;
}

.song-show-left .song-edit-button {
    top: -295px;
    margin-left: -15px;
}

.song-show-left .song-box-photo {
    display: none;
}

.song-show-left .play-button {
    height: 100px;
    width: 100px;
    right: -15px;
    opacity: 1;
}

.play-button:hover {
    cursor: pointer;
}

.all-song-comments {
    padding: 15px;
    border-radius: 5px;
    background: whitesmoke;
    overflow: auto;
    height: 165px;
}

.song-show-comment {
    padding: 10px;
    border-bottom: 1px solid black;
}

.song-show-comment:first-child {
    padding-top: 0px;
}

.song-show-comment:last-child {
    border-bottom: none;
}
